<div class='container'>
    <div class='text-center'>
        <h1>Events</h1>
    </div>
    <% @events.each do |event| %>
        <div class='panel panel-primary'>
            <div class='panel-heading'><h3 class='panel-title'><%= event.title %></h3> <%= event.date %></div>
            <div class='panel-body'>
                <p>Created by: <%= event.creator.name %></p>
                <p>Location: <%= event.location %></p>
                <p>Description: <%= event.description %></p>
            </div>
        </div>
    <% end %>
</div>